
/* Basic Styles */
.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

.search-input {
    width: 100%;
    padding: 6px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #0F2D52 !important;
    border: 2px solid #0F2D52 !important;
}

/* Search Icon */
.search-icon {
    background-color: #0F2D52;
    color: #fff;
    border: 2px solid #0F2D52;
    border-radius: 0 3px 3px 0;
    padding: 6px;
    margin-left: -29px;
    cursor: pointer;
}

/* Hover Effect */
.search-button:hover,
.search-icon:hover {
    background-color: #21446f;
    border: 2px solid #21446f;
}

#enrollmentStatus{
    /* display: flex; */
    align-items: center;
    width: 50% !important;
    /* margin: 10px auto !important; */
}

.table-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    margin-bottom: 20px; /* Add margin to separate pagination controls */
}

.pagination {
    text-align: center;
}

.pagination button {
    margin: 5px;
}

.page-item.active .page-link {
    background-color: #0F2D52 !important;
    border-color: #0F2D52 !important;
}

a.page-link{
    color: #0F2D52;
}

.form-control {
    color: #0F2D52 !important;
    font-weight: 700 !important;
    width: 90px !important;
    border: 2px solid #0F2D52 !important;
}


.form_status_dropdown {
    background-color: #21446f !important;
    border: 2px solid #21446f !important;
}


select
{
   padding: 5px;
   color: #0F2D52 !important;
   border: 2px solid #0F2D52 !important;
   border-radius: 5px;
}

select#form_status
{
    color: #0F2D52 !important;
    font-size: medium !important;
}


