

/*****Parent Dashboard Style*****/


/****** Accordion ******/

.accordion-button:not(.collapsed)::after {
    background-image: url('image/down_white.png') !important;
    transform: rotate(-180deg) !important;
}
.accordion-button-one:not(.collapsed)::after {
    background-image: url('image/down_white.png') !important;
    transform: rotate(-180deg) !important;
}

.accordion-fixed
{
    position: sticky;
    top:0;
}

.side-menu, a.completedforms
{
    background: #0F2D52 !important;
    color: #fff !important;
}

a.completedforms:hover
{
    opacity: 0.7;
}

/****** Accordion End ******/

/****** A ******/

.parent_dashboard_title, .dashboard_card_icon {
    color: #0F2D52 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dashboard_card_text
{
    position: relative;
    /* top: px; */
    /* color: #0f0f0f !important; */
}

.card_style, .tab-bg{
    background: #0F2D52 !important; 
    margin-top: 2px;
}

.card_style:hover{
    opacity: 0.6;
}

.dashboard_card_style1{
    height: 50px !important;
    background: #2aa956 !important;
    border-radius: 0px !important;
    cursor: pointer;
}

.dashboard_card_style1:hover{
    opacity: 0.8;
}

.dashboard_card_style {
    height: 58px !important;
    background: #D8E9FF !important;
    border: 1px solid #0F2D52 !important;
    border-radius: 0px !important;
    cursor: pointer;
}

.dashboard_card_style:hover {
    opacity: 0.8;
}

.dashboard_card_style_on_process{
    height: 50px !important;
    background: #fa6d6d !important;
    /* background: #2aa956 !important; */
    border-radius: 0px !important;
    cursor: pointer;
    width: auto !important;
}
.dashboard_card_style_on_process_active{
    height: 50px !important;
    /* color:#0F2D52 !important;
    color: aqua !important; */
    border-radius: 0px !important;
    cursor: pointer;
    width: auto !important;
    background-color: #D8E9FF !important;
}
div.card-bodys{
    height: 50px !important;
    border-radius: 0px !important;
    cursor: pointer;
    width: auto !important;
    background-color: #D8E9FF !important;
}

.dashboard_card_style_on_process:hover{
    opacity: 0.8;
}

.child_basic_card
{
    background: #D8E9FF !important;
    box-shadow: 0px 4px 15px rgba(83, 53, 73, 0.25);
    border-radius: 10px !important;
    border: none !important;
}

.card_title
{
    background-color:#0F2D52; 
    color: #fff;
    border-radius: 10px 10px 0 0 !important;
    border: 2px solid #D8E9FF !important;
    align-items: center !important;
}    
            
.card_center
{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}  

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2px;
    margin-bottom: 0;
    list-style: none;
    padding-top: 9px;
}
.nav-link.active {
    border-color: #D8E9FF !important;
    cursor: pointer;
}

.nav-link:hover {
    border-color: #D8E9FF !important;
    cursor: pointer;
}

/*****Parent Dashboard Style End*****/