html,
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    overflow-x: clip;
}

/*****Navigation Style*****/

.navbar {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*****Navigation Style End*****/


/*****Login Card Style*****/

.card-center-align {
    padding-top: 80px;
}

.card-title
{
    color: #0F2D52;
}

.login-card-style {
    height: 730px;
    width: 574px;
    background: #D8E9FF !important;
    box-shadow: 0px 4px 15px rgba(83, 53, 73, 0.25);
    border-radius: 20px !important;
    border: none !important;
    padding: 30px;
}

.nav_tab_bg
{
    background-color: #fff !important;
    border-radius: 5px;
}

button.nav-link
{
    padding: 10px 30px 10px 30px;
    color: #0F2D52 !important;
    font-size: 20px;
}

.nav-pills .nav-link.active
{
    padding: 10px 30px 10px 30px;
    background-color: #0F2D52 !important;
    color: #fff !important;
}

.form-control:focus {
    border-color: rgb(15, 45, 82) !important;
    -webkit-box-shadow: 0 0 8px rgb(15, 45, 82, 0.6) !important;
    box-shadow: 0 0 8px rgb(15, 45, 82, 0.6) !important;
  }

.login_btn {
    padding: 10px !important;
    color: #fff !important;
    background: #0F2D52 !important;
    border-radius: 30px;
    border: none !important;
}

.login_btn:hover {
    opacity: 0.6;
}

.login_btn:focus {
    border: none !important;
}


.signup_btn {
    padding: 10px !important;
    color: #fff !important;
    background: #0F2D52 !important;
    border-radius: 30px;
    border: none !important;
}

.signup_btn:hover {
    opacity: 0.6;
}

.signup_btn:focus {
    border: none !important;
}


.for_pwd:hover
{
    opacity: 0.6;
}

/*****Login Card Style End*****/