

/*****Parent Dashboard Style*****/


/****** Accordion ******/

.accordion-fixed
{
    position: sticky;
    top:0;
}

.side-menu-title
{
    background-color: #0F2D52 !important;
    color: #fff !important; 
    text-align: center;
    font-size: 20px;
}

.side-menu, a.completedforms
{
    background: #0F2D52 !important;
    color: #fff !important;
}

a.completedforms:hover
{
    opacity: 0.6;
}

/****** Accordion End ******/


/*** Alert Message ***/

.success-msg, .error-msg {
    position: fixed !important;
    top: 5px !important; 
    left:2% !important;
    width: 96% !important;
    z-index: 20; 
}

.alert{
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}  

a {
  text-decoration: none;
}

/*** Alert Message End ***/

.parent_dashboard_title, .dashboard_card_icon {
    color: #0F2D52 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dashboard_card_tex
{
    position: relative;
    /* top: px; */
    /* color: #0f0f0f !important; */
}

.tab-bg{
    background: #0F2D52 !important; 
    margin-top: 2px;
}
            
.nav {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    list-style: none;
    padding-top: 4px;
}

.nav-link.active {
    border-color: #D8E9FF !important;
    cursor: pointer;
}

.nav-link:hover {
    border-color: #D8E9FF !important;
    cursor: pointer;
}

/*****Parent Dashboard Style End*****/