#avf_form .form-control{
    color: #0F2D52 !important;
    font-weight: 700 !important;
    width: 300px !important;
    border: 2px solid #0F2D52 !important;
    /* padding: 40% !important; */
}

.form-control:focus{
    box-shadow: none !important;
}

#avf_form .form-group{
    
    padding-left: 40% !important;

}
#avf_form .center-image {
    text-align: center;
}

#avf_form .center-image img {
    display: inline-block;
}
