
.form-control:focus{
    box-shadow: none !important;
}

#avf_form {
    text-align: center;
    /* padding-left: 40% !important; */
}

#avf_form .center-image {
    text-align: center;
}

#avf_form .center-image img {
    display: inline-block;
}


