html,
body {
    visibility: hidden;
}

.container_form {
    text-align: center;
    margin-top: 50px;
    padding-left: 14% !important;
}

/* h1 {
    font-size: 20px !important;
} */

#formContent button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formContent ol {
    list-style-type: decimal;
    text-align: left;
    padding-left: 20px;
}

#formContent span {
    display: block;
    /* margin-bottom: 5px; */
    font-family: 'Roboto', sans-serif;
}
#formContent .initial {
    display: block;
    /* text-align: center; */
    /* margin-bottom: 5px; */
    /* padding-left: 100px; */
    font-family: 'Roboto', sans-serif;
  
}

#formContent .center-image {
    text-align: center;
}

#formContent .center-image img {
    display: inline-block;
}

#formContent #initial {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}
#formContent #heading {
   font-weight: bold;
   font-size: 20px;
}

#formContent .initialStyle {
    size: 1rem;
    border: none; 
    border-bottom: 1px solid black;
}

/* this used for drowarrow displayed in dropdown */
.dropdown {
    position: relative;
   
}

.form-control{
    color: #0F2D52 !important;
    font-weight: 700 !important;
    width: 85px !important;
    border: 2px solid #0F2D52 !important;
}

.form-control:focus{
    box-shadow: none !important;
}

select.input-lg {
    height: 50px !important;
    line-height: 25px !important;
}

select+i.fa {
    float: right;
    margin-top: -27px;
    margin-right: -10px;
    pointer-events: none;
    color: #0F2D52;
    background-color: #FFF;
    padding-right: 5px;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 2px; 
    height: 1px; 
}

.bloc1{
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 300px;
  }
  .signblock{
    white-space: nowrap;
    margin-left: 20%;
  }

  .div1{
    display: inline-block;
  }

.divSpan{
    text-align:left;
    padding-left: 20%;
}

